In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns

csv_in='salary.csv'
df=pd.read_csv(csv_in, skiprows=0, header=0)

In [7]:
df_corr = df.corr()
display(df_corr)

            TIME      PUBS    SALARY
TIME    1.000000  0.656655  0.710351
PUBS    0.656655  1.000000  0.587834
SALARY  0.710351  0.587834  1.000000

In [8]:
X = df[['PUBS']]
y = df['SALARY']
print('X:',X.shape)
display(X.head())
print('y:',y.shape)
print(y.head())

X: (15, 1)

   PUBS
0    18
1     3
2     2
3    17
4    11

y: (15,)
0    51876
1    54511
2    53425
3    61863
4    52926
Name: SALARY, dtype: int64

In [9]:
X_c = sm.add_constant(X)
display(X.head())
display(X_c.head())

   PUBS
0    18
1     3
2     2
3    17
4    11

   const  PUBS
0    1.0    18
1    1.0     3
2    1.0     2
3    1.0    17
4    1.0    11

In [10]:
model = sm.OLS(y,X_c)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 SALARY   R-squared:                       0.346
Model:                            OLS   Adj. R-squared:                  0.295
Method:                 Least Squares   F-statistic:                     6.864
Date:                Mon, 05 Jun 2023   Prob (F-statistic):             0.0212
Time:                        10:50:30   Log-Likelihood:                -152.19
No. Observations:                  15   AIC:                             308.4
Df Residuals:                      13   BIC:                             309.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4.636e+04   3072.730     15.087      0.000    3.97e+04     5.3e+04
PUBS         335.5260    128.067      2.620      0.021      58.853     612.199
==============================================================================
Omnibus:                        2.329   Durbin-Watson:                   0.994
Prob(Omnibus):                  0.312   Jarque-Bera (JB):                1.021
Skew:                          -0.090   Prob(JB):                        0.600
Kurtosis:                       1.734   Cond. No.                         43.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\Users\iniad\miniconda3\envs\ds2023\lib\site-packages\scipy\stats\stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=15
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

In [11]:
print('R2:',results.rsquared)

R2: 0.3455482715687732