In [6]:
import numpy as np
import pandas as pd

temp = pd.DataFrame([[23.3, 19.0, 18.4, 21, 21.8, 23.4, 21.3, 21.1, 17.7], [10.3, 11.1, 9.5, 7.7, 9.8, 16.3, 17.0, 9.1, 6.6]])
temp.columns = ['4/1', '4/2', '4/3', '4/4', '4/5', '4/6', '4/7', '4/8', '4/9']
temp.index = ['high', 'low']


display(temp)

       4/1   4/2   4/3   4/4   4/5   4/6   4/7   4/8   4/9
high  23.3  19.0  18.4  21.0  21.8  23.4  21.3  21.1  17.7
low   10.3  11.1   9.5   7.7   9.8  16.3  17.0   9.1   6.6