In [3]:
import pandas as pd
df = pd.DataFrame([[1, 2], [3, 4], [5, 6]])
display(df)

   0  1
0  1  2
1  3  4
2  5  6

In [4]:
df.columns=['X', 'Y']
display(df)

   X  Y
0  1  2
1  3  4
2  5  6

In [15]:
display(df.iloc[:,:1])

   X
0  1
1  3
2  5

In [17]:
display(df.iloc[1:2,:])

   X  Y
1  3  4

In [19]:
display(df.iloc[:1,1:2])

   Y
0  2