In [8]:
import numpy as np #numpyにnpという別名を付けてimport
import pandas as pd #pandasにpdという別名を付けてimport
import matplotlib.pyplot as plt #グラフ描画のためのライブラリmatplotlibをimportする

csv_in='cs3-04/running.csv'
df = pd.read_csv(csv_in, sep=',', skiprows=0, header=0)
print(df.shape)
print(df.info())
display(df.head())

(47, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      47 non-null     int64
 1   Univ    47 non-null     object
 2   Grade   47 non-null     int64
 3   Time    47 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.6+ KB
None

     ID Univ  Grade  Time
0  1001    D      3  1870
1  1004    C      1  1957
2  1006    D      2  2063
3  1007    D      3  1839
4  1008    C      2  1740

In [9]:
print(df['Grade'].value_counts())

3    14
1    11
2    11
4    11
Name: Grade, dtype: int64

In [11]:
print(pd.crosstab(df['Univ'], df['Grade']))

Grade  1  2  3  4
Univ
A      3  4  5  4
B      2  1  2  3
C      1  3  1  3
D      5  3  6  1

In [12]:
print(df.sort_values('Time', ascending=False))

      ID Univ  Grade  Time
11  1015    A      2  2123
5   1009    B      3  2082
2   1006    D      2  2063
17  1021    B      3  2052
6   1010    C      4  2045
33  1037    A      1  2038
25  1029    A      1  2030
19  1023    A      4  2013
46  1050    B      4  1998
45  1049    A      4  1980
43  1047    B      2  1974
42  1046    A      2  1969
9   1013    A      2  1965
39  1043    C      2  1965
1   1004    C      1  1957
20  1024    D      1  1947
30  1034    C      2  1940
15  1019    C      3  1937
13  1017    C      4  1932
44  1048    D      2  1930
18  1022    C      4  1926
14  1018    D      1  1926
12  1016    D      4  1924
35  1039    A      3  1923
16  1020    D      1  1897
36  1040    D      3  1895
31  1035    D      3  1894
29  1033    A      3  1888
37  1041    B      4  1879
40  1044    D      2  1878
34  1038    A      4  1875
21  1025    A      1  1874
28  1032    B      1  1871
41  1045    D      3  1870
0   1001    D      3  1870
23  1027    B      1  1850
3   1007    D      3  1839
27  1031    A      2  1826
22  1026    A      4  1825
7   1011    A      3  1818
10  1014    D      1  1803
32  1036    D      1  1800
24  1028    B      4  1785
8   1012    A      3  1783
38  1042    A      3  1764
26  1030    D      3  1761
4   1008    C      2  1740