In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
csv_in = 'corona-data.csv'
df=pd.read_csv(csv_in, skiprows=0, header=0)

In [22]:
wday_list = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
weekend = wday_list[-2:]

In [23]:
df['date']=pd.to_datetime(df['date'])

In [24]:
df=df.set_index('date')
df_week=df.resample('W').mean()
display(df_week)

            positive_cases
date
2020-01-19        0.250000
2020-01-26        0.428571
2020-02-02        1.142857
2020-02-09        0.428571
2020-02-16        2.142857
2020-02-23       11.000000
2020-03-01       16.000000
2020-03-08       33.714286
2020-03-15       45.571429
2020-03-22       38.714286
2020-03-29      111.857143
2020-04-05      272.714286
2020-04-12      497.000000
2020-04-19      495.571429
2020-04-26      379.857143
2020-05-03      235.000000
2020-05-10      110.428571
2020-05-17       62.714286
2020-05-24       34.857143
2020-05-31       41.428571
2020-06-07       39.428571
2020-06-14       41.428571
2020-06-21       54.285714
2020-06-28       79.857143
2020-07-05      181.857143
2020-07-12      302.000000
2020-07-19      481.714286
2020-07-26      739.571429
2020-08-02     1220.142857
2020-08-09     1372.428571
2020-08-16     1038.142857
2020-08-23      934.857143
2020-08-30      753.000000
2020-09-06      560.000000
2020-09-13      532.142857
2020-09-20      491.857143
2020-09-27      428.142857
2020-10-04      500.285714
2020-10-11      511.428571
2020-10-18      526.000000
2020-10-25      564.000000
2020-11-01      687.142857
2020-11-08      909.142857
2020-11-15     1437.428571
2020-11-22     2047.142857
2020-11-29     2053.428571
2020-12-06     2186.285714
2020-12-13     2516.428571
2020-12-20     2649.571429
2020-12-27     3158.571429
2021-01-03     3597.500000

1791
2674
3270
3797
3934
3702
2942

In [25]:
df['day_of_week']=df.index.dayofweek

In [26]:
df_wday_ave=df.groupby('day_of_week').mean()

In [27]:
display(df_wday_ave)

             positive_cases
day_of_week
0                431.180000
1                613.980000
2                723.520000
3                807.607843
4                738.060000
5                754.440000
6                597.240000