In [1]:
import pandas as pd

df = pd.DataFrame([[1, 2], [3, 4], [5, 6]])
display(df)

df.columns = ['X', 'Y'] 
display(df)

print(df.shape)

   0  1
0  1  2
1  3  4
2  5  6

   X  Y
0  1  2
1  3  4
2  5  6

(3, 2)