In [6]:
import pandas as pd

df1 = pd.DataFrame([[1, 3, 5], [5, 7, 9]])
display(df1)
   
df1.columns = ['c1', 'c2', 'c3']
display(df1)
    
df1.index = ['r1', 'r2']
display(df1)

print(df1.to_numpy())

print(df1.shape)

   0  1  2
0  1  3  5
1  5  7  9

   c1  c2  c3
0   1   3   5
1   5   7   9

    c1  c2  c3
r1   1   3   5
r2   5   7   9

[[1 3 5]
 [5 7 9]]
(2, 3)