Numpyはndarrayと呼ばれるデータ型を用いる
Pandasは表はDataFrame、表から取り出した1行または1列はSeriesと呼ばれるデータ型を用いる

In [16]:
import numpy as np #numpyにnpという別名を付けてimport
import pandas as pd #pandasにpdという別名を付けてimport
import matplotlib.pyplot as plt #グラフ描画のためのライブラリmatplotlibをimportする

In [2]:

#ndarrayの作り方
lst = [0, 1, 2]
nd = np.array(lst)
print(lst)
print(type(lst)) #lstはlist型
print(nd)
print(type(nd)) #ndはndarray型

print(lst * 2) #全要素の2回繰り返し
print(nd * 2) #全要素の数値が2倍

[0, 1, 2]
<class 'list'>
[0 1 2]
<class 'numpy.ndarray'>
[0, 1, 2, 0, 1, 2]
[0 2 4]

In [3]:
a = np.array([0, 1, 2])
b = np.array([3, 4, 5])
print(a + b) #adarrayはいずれも対応する要素同士の演算になる
print(a * b)

[3 5 7]
[ 0  4 10]

In [4]:
#下の方が計算が高速
a = np.array([0, 1, 2])
b = np.array([3, 4, 5])
c = []
for i in range(len(a)):
    c.append(a[i] * b[i])
c = np.array(c)
print(c)

[ 0  4 10]

In [5]:
a1 = np.array([0, 1, 2])
a2 = np.array([[0, 1, 2], [3, 4, 5]])
a3 = np.array([[[0, 1, 2], [3, 4, 5]], [[6, 7, 8], [9, 10, 11]]])
print(a1)
print(a2)
print(a3)

[0 1 2]
[[0 1 2]
 [3 4 5]]
[[[ 0  1  2]
  [ 3  4  5]]

 [[ 6  7  8]
  [ 9 10 11]]]

In [6]:
#属性shapeは各軸（次元）の要素数
print(a1.shape) #3要素の1次元配列
print(a2.shape) #3要素の1次元配列が2つ並んだ2次元配列
print(a3.shape) #2行3列の2次元配列が2つ並んだ3次元配列

(3,)
(2, 3)
(2, 2, 3)

In [7]:
#DataFrameは、2次元のndarrayに行(index)と列(columns)を付加したもの
#pd.DataFrame関数に2次元リストとcolumnsを設定するためのリストを与えるとDataFrameを簡単に作れる
df = pd.DataFrame([[0, 1, 2], [3, 4, 5]], columns = ['c0', 'c1', 'c2'], index = ['r0', 'r1'])
print(type(df))
print(df.shape)
display(df) #displayはDataFrameを表にして表示してくれる

<class 'pandas.core.frame.DataFrame'>
(2, 3)

    c0  c1  c2
r0   0   1   2
r1   3   4   5

In [8]:
#DataFrameのindex属性とcolumns属性にリストを代入することで、行番号と列ラベルを後で指定できる
df3 = pd.DataFrame([[0, 1, 2], [3, 4, 5]])
display(df3)                 
df3.index = ['r0', 'r1']
df3.columns = ['c0', 'c1', 'c2']
display(df3)

   0  1  2
0  0  1  2
1  3  4  5

    c0  c1  c2
r0   0   1   2
r1   3   4   5

In [9]:
#to_numpyメソッドでindexとcolumnsを除いた2次元のndarrayだけを取り出す事が出来る
print(type(df3.to_numpy()))
print(df3.to_numpy())

<class 'numpy.ndarray'>
[[0 1 2]
 [3 4 5]]

In [10]:
#print(df.info())
#print(df.head(n)) nは書かないと5の初期設定
#print(df.tail())
#print(df.tail(N)) 末尾を表示させる

In [11]:
#変数 = pd.read_csv('CSVファイル名', sep=',', skiprows=N, header=M)
# もしくは 
# csv_in ='csvファイル名'
# 変数 = pd.read_csv(csv_in, sep=',', skiprows=N, header=M)
# 区切り字がTab文字の場合はsep='\t'、空白文字の場合はsep='\s+'とする。
# sep=を省略した場合は区切り字はコンマとみなされる

# 先頭の読み飛ばすべきデータ以外の行がない場合はskiprows=0とする
#非データ行の行頭に#がついている物はskiprowsの代わりにcomment='#'で読み飛ばせる

# 列ラベルの行がない場合はheader=Noneとする

In [12]:
# 変数 = データフレーム[列名]でデータフレーム（表）の１列分のデータを取り出せる
# 変数 = データフレーム[列名リスト]でデータフレームの複数のデータを取り出せる
#例　df1 = df[['Region', 'Milk', 'Grocery']]

In [13]:
# 複数列の取り出しは　変数 = データフレーム.loc[先頭行の行番号:末尾行の行番号, 先頭列の列ラベル:末尾列の列ラベル]
# 例 df3 = df.loc[1:3, 'Milk':'Frozen']
# 行番号や列ラベルを省略すると先頭から末尾までになる

In [14]:
# 列番号を用いて複数列を取り出す場合はilocを使う
# 変数 = データフレーム.iloc[先頭行の行番号:末尾行の１つ先の行番号, 先頭列の列番号:末尾列の１つ先の列番号]

In [15]:
# 一定間隔での取り出し、逆順での取り出し
# 例 display(df.iloc[2:15:2, 14:3:-1])
# 行番号2から14まで、2行ごと
# 列番号14から4まで、逆順に1列ごと

In [16]:
# ndarrayに対して各軸の番号を指定することで要素の値を取り出せる
a1 = np.array([0, 1, 2])
print(a1)
print(a1[0])

[0 1 2]
0

In [17]:
a2 = np.array([[0, 1, 2], [3, 4, 5]])
print(a2)
print(a2[0, 1])

[[0 1 2]
 [3 4 5]]
1

In [18]:
a3 = np.array([[[0, 1, 2], [3, 4, 5]], [[6, 7, 8], [9, 10, 11]]])
print(a3)
print(a3[1, 0, 2])

[[[ 0  1  2]
  [ 3  4  5]]

 [[ 6  7  8]
  [ 9 10 11]]]
8

In [19]:
# 取り出す代わりに値を代入すると値を変更できる
a1[0] = 99
print(a1)
a2[0, 1] = 99
print(a2)
a3[1, 0, 2] = 99
print(a3)

[99  1  2]
[[ 0 99  2]
 [ 3  4  5]]
[[[ 0  1  2]
  [ 3  4  5]]

 [[ 6  7 99]
  [ 9 10 11]]]

In [20]:
# DataFrameに対してatを使って行番号と列ラベルを指定できる
# print(df6.at[2, 'Frozen'])

In [21]:
# atの代わりにiatを使うと番号で1つの要素を指定できる
# print(df6.iat[2, 1])

In [22]:
# DataFrameでも値の代入によって要素の1つを変更できる
# df6.at[2, 'Frozen'] = 99
# df6.iat[2, 1] = 88

In [24]:
#カテゴリー変数の値を頻度はseriesのvalue_counts()で取得
#print(df['Region'].value_counts())
#データ数がわかる

In [25]:
#print(df.sum(axis=0)) 各列の和
#print(df.sum(axis=1)) 各行の和

In [27]:
#pandasにはsumに加えて以下のような様々な統計用関数が用意されている
#総和:sum()
#最小:min()
#最大:max
#平均:mean()
#中央値:median()
#分散(不偏分散):var() 母分散はvar(ddof=0)
#標準偏差(不偏標準偏差):std() 母標準偏差はstd(ddof=0)
#データフレームに非数値行が含まれているときはnumeric_only=Trueオプションを追加する

In [28]:
#Numpyの統計用関数
#総和:sum()
#最小:amin()
#最大:amax()
#平均:mean()
#中央:median()
#分散:(母分散):var() 不偏分散はvar(データ, ddof=1)
#標準偏差(母標準偏差):std() 不偏標準偏差はstd(データ, ddof=1)

In [33]:
#display(df.describe())　数値変数の列
#count:データ個数
#mean:平均
#std:標準偏差
#min:最小
#25％,50％,75％:各四分位数
#max:最大

In [34]:
#display(df.describe(exclude=[np.number]))　カテゴリー変数の列
#count:データ個数
#unique:値の種類
#top:最頻値
#freq:最頻値の度数

In [35]:
#channel列は値は数値だがカテゴリー変数なのでdf.describe(exclude=[np.number])の方に表示させる方が適当です
#そのために、astypeメソッドを使ってchannel列のデータ型をcategoryに変更する
#df['Channel']=df['Channel'].astype('category')
#print(df.info) channel列のデータ型がcategoryに変わっている

In [36]:
#plt.boxplot(df_num, labels=df_num.columns) 箱ひげ図を置く
#plt.xticks(rotation=90) x軸目盛ラベルを90度回転
#plt.ylabel('Annual spending [m.u.]')　y軸ラベルを設定
#plt.show()　グラフ全体を描画

In [1]:
#グラフ装飾用の関数
#plt.plot(折れ線グラフ)
#plt.boxplot(箱ひげ図)
#plt.hist(ヒストグラム)
#plt.scatter(散布図)

#plt.title() タイトル
#plt.xlabel()　ｘ軸ラベル
#plt.ylabel()　ｙ軸ラベル
#plt.xticks()　ｘ軸目盛ラベル
#plt.yticks()　ｙ軸目盛ラベル
#plt.xlim()　ｘ軸の描画範囲
#plt.ylim()　ｙ軸の描画範囲
#plt.xscale()　ｘ軸の目盛の種類
#plt.yscale()　ｙ軸の目盛の種類
#plt.legend()　凡例
#plt.tick_paramas()　目盛や軸ラベルなどの書式設定

In [38]:
#plt.boxplot(df_num[['Fresh','Grocery']], labels=['Fr','Gr'])
#plt.ylabel('Annual spending [m.u.]')
#plt.xticks(fontsize=24)
#plt.show()

In [39]:
#plt.hist(df_num['Fresh'])　ヒストグラムを置く
#plt.xlanel('Annual spending [m.u.]')　ｘ軸ラベルを設定
#plt.ylabel('Frequency')　ｙ軸ラベルを設定
#plt.show()　グラフ全体を描画

In [40]:
#オプション引数の例
#幅:bins=N (デフォルトはN=10）
#density=True　デフォルトはFalse　Trueにすると確率密度分布になる

In [41]:
#ser1 = 2 * df['Fresh'] + df['Frozen'] - 20000
#このように列の数値をまとめて一気に計算できる

In [43]:
#df['new_col'] = ser1 のようにdfに新しい列を追加できる

In [44]:
#dfから指定した列を削除する
#df_drop_c = df.drop(columns='Detergents_Paper') Detergents_Papaer列を削除する
#dfから指定した行を削除する
#df_drop_r = df.drop(index[1,3]) 1,3行目を削除する

In [47]:
#スライスで連続する行、列をして削除することもできる
#df_drop_c2 = df.drop(df.loc[:, 'Fresh':'Frozen'],axis=1)
#dfのFresh列からFrozen列までを削除
#df_drop_r2 = df.drop(df.index[1:3])
#dfの行番号1から2まで削除

In [48]:
#inplaceを使えば新しい変数に入れなくても直接変わる
#df.drop(columns='new_col', inplace=True)

In [49]:
#df_ret1=df[df['Region']=='Lisbon'] dfの中でRegion列の値がLisbonの行を抜き出す
#df_ret1=df[df['Region']!='Lisbon'] dfの中でRegion列の値がLibon以外の行を抜き出す
#df_ret1=df[df['列名']<='値1'] dfの中で列名の列の値が値1以下の行を抜き出す
#df_ret1=df[df['列名'].str.match(r'正規表現パターン')]　dfの中で列名の列の値が正規表現にマッチする行を抜き出す
#df_ret1=df[df['列名'].isin(['値1','値2'])　dfの中で列名の列の値が値1、値2のいずれかである行

In [50]:
#df_ret2=df[(df['Region']=='Other')&(df['Fresh']>100000)]
#dfの中でRegion列の値がOtherかつ100000より大きい行を抜き出す

In [51]:
#df_ret2=df[~(df['Region']=='Other')|(df['Fresh']>100000)]
#dfの中でRegion列の値がOtherではない、またはFresh列が100000より大きい行を抜き出す

In [52]:
#dfの中でRegion列の値がOtherの行を削除したいときはOther以外の行を取り出すと考えればいい
#df_ret4=df[~(df['Region']=='Other')]

In [54]:
#df_ret5=df_ret3.reset_index(drop=True)
#reset_index()を用いると不連続になっていた行番号を0から始まる連番に直せる
#drop=Trueがあることによって元の列番号がindex列にならない

In [55]:
#df1=df.sort_values(by='列名', ascending=True or False)
#Trueだと昇順

In [56]:
#df1=df['Fresh'].idxmax() Fresh列の最大値に対応する行番号が取得できる
#df1=df['Fresh'].idxmin() Fresh列の最小値に対応する行番号が取得できる

In [58]:
a = np.array([5,-2,7,4,1])
print(a.max(),a.min())
print(a.argmax(),a.argmin())
#ndarrayの最大値、最小値に対応するindexはargmax(),argmin()で取得できる

7 -2
2 1

In [18]:
#重複業のチェック
#display(df[df.duplicated(keep=False)])
#dfの重複した行だけを取り出す事が出来る

In [62]:
#df1=df.drop_duplicates()で重複行を削除できる
#削除によって列番号が不連続になってしまうのでreset_index()で0から始まる連番に振りなおす
#df1=df.drop_duplicates().reset_index(drop=True)

In [63]:
#列ごとの欠損値の数を取得するには
#print(df.isna().sum())
#print(df.sinull().sum())

In [64]:
#欠損値を1つでも含む行を表示するにはdisplay(df[df.isna().any(axis=1)])

In [65]:
#df1=df.fillna(10) 10で埋める
#df1=df.fillna(method='bfill')1つ先の非欠損値で埋める
#df1=df.fillna(method='ffill')1つ手前の非欠損値で埋める

In [66]:
#mu=df.mean(numeric_only=True) 各列の平均
#df_filled=df.fillna(mu)　各列の平均で欠損値を埋める

In [1]:
#df['Milk']=df['milk'].fillna(埋める値)　milk列の欠損値を指定した値で埋める

In [68]:
#df1=df.dropna() 1つでも欠損値を含む行を削除
#df1=df.dropna(how='all')　すべての値が欠損値の行を削除
#df1=df.dropma(axis=1)　1つでも欠損値を含む列を削除

In [69]:
#df['Milk'] = df['Milk'].astype('int') Milk列のデータ型をintに変更

In [70]:
#表記ゆれ等への対応
#print(df['Region'].value_counts())　表記ゆれやスペルミスがあるか確認する
#df['Region']=df['Region'].replace('other','Other') otherをOtherに変更
#df['Region']=df['Region'].replace(['lisbon','Lisbn'],'Lisbon')
#df['Region']=df['Region'].replace({'porto':'Oporto','Porto':'Oporto','Otheer':Other',})

In [71]:
#ser_fresh=df['Fresh'].map(lambda x: 10000 if x > 10000 else x)
#Fresh列の各値が引数xに代入される。xが10000より大きいなら10000に置き換え、そうでなければ元の値xのままにする

In [73]:
#クレンジング済みデータの保存
#データフレーム.to_csv('出力CSVファイル名(保存先の名前）', index=False または True, encoding=出力ファイルの文字コード)
#index=Trueとすると、index列が追加され行番号がそこに格納されます
#行番号をCSVファイルに保存する必要がない場合はindex=Falseとします

In [75]:
#csv_out='wholesale_customers-cleaned.csv'
#df.to_csv(csv_out,index=False,encoding='utf-8-sig')
#以下のようにread_csv()で正常に出力できたか確認
#df_check=pd.read_csv(csv_out, sep=',',sikiprows=0,header=0)

#### 5

In [1]:
#カテゴリーデータである１列の各値によってデータを分類し、残りの各列のデータの最大、最小、平均などの統計量を求める事が出来る
#変数=df.groupby('列名').統計関数()
#統計関数:max(),min(),mean(),size()など

In [3]:
#df_no_channel=df.drop(columns='Channel')
#df_region_max=df_no_channel.groupby('Region').max()
#display(df_region_max)
#Region列の各グループごとの最大を出す

In [4]:
#groupbyで得られた結果もデータフレームなのでこれまで同様に取り出せる
#max_lisbon_milk=df_region_max.at['Lisbon','Milk']
#print(max_lisbon_milk)

In [5]:
#カテゴリー変数1と2の値を組み合わせてデータをグループ分けする
#df_ct = pd.crosstab(df['Region'],df['Channel'])
#display(df_ct)
#表を見てChannelが１かつRegionが2などを探す

In [6]:
#margins=Trueを指定すると行・列ごとの合計の列を追加できる
#df_ct2 = pd.crosstab(df['Region'],df['Channel'], margins=True)
#display(df_ct2)

In [7]:
#和が1になるように正規化できる
#列の和が1:normalize='columns'
#行の和が1:normalize='index'
#全セルの和が1:normalize:'all'
#df_ct3 = pd.crosstab(df['Region'],df['Channel'], normalize='columns')
#display(df_ct3)

In [8]:
#2列でデータを分類した際に平均最大最小などを求める事が出来る
#変数 = df.pivot_table(index='列1', columns='列2',values=['列3',・・・], aggfunc=統計関数)
#index, columnsは複数列名をリストで与えることもできる
#values=を付けないと残りの全列が対象になる
#aggfunc=を付けないとnp.mean

In [9]:
#df_pt = df.pivot_table(index='Region', columns='Channel', values=['Fresh','Frozen'],aggfunc=np.mean)
#display(df_pt)
#Region列の値とChannel列の値で分類
#Fresh列とFrozen列の平均値を憑依

In [10]:
#datetime型に変換するためにはpd.to_datetime関数を使う
#df['Date']=pd.to_datetime(df['Date'])
#print(df.info())

In [12]:
#plt.plot(x軸用データ,y軸用データ,[フォーマット文字列],オプション引数)
#データは2つの1次元データ(第1,2引数)
#フォーマット文字列:'マーカー指定線指定色指定'(指定しなくてもよい)
#マーカー指定:'o':丸, 's':四角, 'x':x印, ',':点,
#線指定:'-':実線, '--':破線, ':':点線
#色指定:'r':赤, 'g':緑, 'b':青, 'y':黄
#例:'x-r':xマーカーと赤い実線
#'--b':マーカー無し青い実線
#label='凡例用ラベル'
#linewidth=N 線の太さ指定

In [13]:
#set_index(indexに指定したい列名)
#df=df.set_index('Date')
#Date列をindexに設定

In [14]:
#datetime型のindexから日付などの情報を取得するためのメソッドが用意されている
#以下先頭の3データだけを表示
#print(df.index[:3])
#print(df.index.year[:3])
#month
#day
#date 年月日のndarray
#dayofyear　1年の何日目か
#dayofweek　曜日番号0~7
#quarter　四半期番号

In [15]:
#時系列データをいてい期間ごとに区切って処理するためのメソッド

#rolling:窓関数の適用
#一定幅の窓を設定し窓の位置をずらしながら窓内のデータに対する集計の計算を行う
#df_rolling7=df.rolling(7).mean() #窓幅7の移動平均を求める
#display(df_rolling7.head(10))
#display(df_rolling7.tail())
#平均移動を用いることによって日ごとの値のばらつきが軽減され全体的他値の変化の傾向を把握しやすくなる
#df_rolling7d=df.rolling('7D').mean() 窓幅7日間の移動平均を求める
#D:日 H:時間 T:分 S:秒
#月平均を求める時は30Dとする
#rolling(5) rolling(5D)はちがう

#resample:期間の集計
#オーバーラップしない一定幅の期間を設定し期間ごとに集計の計算を行う
#df_resample_w=df.resample('W').mean() 1週間内のデータの平均を求める

In [2]:
#グラフの一部を拡大したいとき
#start_date=pd.to_datetime('2018-04-01')
#end_date=pd.to_datetime('2018-06-30')
#plt.xlim(start_date, end_date)

In [3]:
#plt.bar() 棒グラフに描画

3-1 assign1

In [6]:
import pandas as pd
df1=pd.DataFrame([[1,3,5],[5,7,9]])
display(df1)

   0  1  2
0  1  3  5
1  5  7  9

In [9]:
df1.columns=['c1','c2','c3']
display(df1)

    c1  c2  c3
r1   1   3   5
r2   5   7   9

In [10]:
df1.index=['r1','r2']
display(df1)

    c1  c2  c3
r1   1   3   5
r2   5   7   9

In [14]:
print(df1.to_numpy())

[[1 3 5]
 [5 7 9]]

In [15]:
print(df1.shape)

(2, 3)

3-1 assign2

In [16]:
import numpy as np

In [18]:
a = np.array([1,3,5])
b = np.array([5,7,9])
print(a)
print(b)

[1 3 5]
[5 7 9]

In [20]:
print(type(a))

<class 'numpy.ndarray'>

In [21]:
print(a+b)

[ 6 10 14]

In [22]:
print(a*b)

[ 5 21 45]

In [23]:
print(a.shape)

(3,)

cs3-2 assign1

In [27]:
csv_in = 'cs3-02/wholesale_customers.csv'
df1=pd.read_csv(csv_in, sep=',', skiprows=13, header=0)
print(df1.shape)
print(df1.info())
display(df1.head())

(440, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    object
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicatessen      440 non-null    int64
dtypes: int64(7), object(1)
memory usage: 27.6+ KB
None

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
0,2,Other,12669,9656,7561,214,2674,1338
1,2,Other,7057,9810,9568,1762,3293,1776
2,2,Other,6353,8808,7684,2405,3516,7844
3,1,Other,13265,1196,4221,6404,507,1788
4,2,Other,22615,5410,7198,3915,1777,5185

In [34]:
display(df1.iloc[0:10])

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
0,2,Other,12669,9656,7561,214,2674,1338
1,2,Other,7057,9810,9568,1762,3293,1776
2,2,Other,6353,8808,7684,2405,3516,7844
3,1,Other,13265,1196,4221,6404,507,1788
4,2,Other,22615,5410,7198,3915,1777,5185
5,2,Other,9413,8259,5126,666,1795,1451
6,2,Other,12126,3199,6975,480,3140,545
7,2,Other,7579,4956,9426,1669,3321,2566
8,1,Other,5963,3648,6192,425,1716,750
9,2,Other,6006,11093,18881,1159,7425,2098

In [36]:
df2=df1.loc[0:9,'Fresh':'Delicatessen']
display(df2)

   Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicatessen
0  12669   9656     7561     214              2674          1338
1   7057   9810     9568    1762              3293          1776
2   6353   8808     7684    2405              3516          7844
3  13265   1196     4221    6404               507          1788
4  22615   5410     7198    3915              1777          5185
5   9413   8259     5126     666              1795          1451
6  12126   3199     6975     480              3140           545
7   7579   4956     9426    1669              3321          2566
8   5963   3648     6192     425              1716           750
9   6006  11093    18881    1159              7425          2098