In [5]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

csv_in = '../cs3-02/wholesale_customers.csv'
df1 = pd.read_csv(csv_in, sep=',', skiprows=13, header=0)

print(df1.shape)
print(df1.info())
print(df1.head())

(440, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    object
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicatessen      440 non-null    int64
dtypes: int64(7), object(1)
memory usage: 27.6+ KB
None
   Channel Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  \
0        2  Other  12669  9656     7561     214              2674
1        2  Other   7057  9810     9568    1762              3293
2        2  Other   6353  8808     7684    2405              3516
3        1  Other  13265  1196     4221    6404               507
4        2  Other  22615  5410     7198    3915              1777

   Delicatessen
0          1338
1          1776
2          7844
3          1788
4          5185

In [6]:
print(df1['Region'].value_counts())

Other     316
Lisbon     77
Oporto     47
Name: Region, dtype: int64

In [8]:
ave_deli = df1['Delicatessen'].mean()
print(ave_deli)

1524.8704545454545

In [11]:
max_fre = df1['Fresh'].max()
print(max_fre)

112151

In [12]:
medi_mil = df1['Milk'].median()
print(medi_mil)

3627.0